
			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-left">
							<p class="mb-0">
								<a target="_blank" href="https://github.com/caglanakpinar/customer_analytics" class="text-muted">
									&copy; <strong>caglanakpinar</strong>
								</a>
								- coded by <a target="_blank" href="https://github.com/caglanakpinar">caglanakpinar</a>
							</p>
						</div>
						<div class="col-6 text-right">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" 
									   target="_blank" href="https://github.com/caglanakpinar/customer_analytics/issues">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" 
									   target="_blank" href="https://github.com/caglanakpinar/customer_analytics">Sources</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

