
		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index">
					<span class="align-middle"><img src="/static/assets/img/icons/customanality.png"></span>
				</a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Configurations
					</li>

					<li class="sidebar-item">
						<a data-target="#profile" data-toggle="collapse" class="sidebar-link collapsed">
              				<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile & Settings</span>
            			</a>
						<ul id="profile" class="sidebar-dropdown list-unstyled collapse {% if 'profile' in segment or 'settings' in segment or 'pages-sign-in' in segment or 'pages-sign-up' in segment %} show {% endif %}" data-parent="#sidebar">
							<li class="sidebar-item {% if 'profile' in segment %} active {% endif %}"><a class="sidebar-link" href="profile.html">Profile</a></li>
							<li class="sidebar-item {% if 'settings' in segment %} active {% endif %}"><a class="sidebar-link" href="settings.html">Settings</a></li>
							<li class="sidebar-item {% if 'pages-sign-up' in segment %} active {% endif %}"><a class="sidebar-link" href="pages-sign-in.html">Sign In</a></li>
							<li class="sidebar-item {% if 'pages-sign-up' in segment %} active {% endif %}"><a class="sidebar-link" href="pages-sign-up.html">Sign Up</a></li>
						</ul>
					</li>

					<li class="sidebar-header">
						Data Source
					</li>


					<li class="sidebar-item">
						<a data-target="#integration" data-toggle="collapse" class="sidebar-link collapsed">
              				<i class="align-middle" data-feather="database"></i> <span class="align-middle">Create Data Source</span>
            			</a>
						<ul id="integration" class="sidebar-dropdown list-unstyled collapse {% if 'add' in segment or 'manage' in segment or 'data-es' in segment %} show {% endif %}" data-parent="#sidebar">
							<li class="sidebar-item {% if 'data-es' in segment %} active {% endif %}"><a class="sidebar-link" href="data-es">ElasticSearch Configurations</a></li>
							<li class="sidebar-item {% if 'purchase' in segment %} active {% endif %}"><a class="sidebar-link" href="add-data-purchase">Session & Customers</a></li>
							<li class="sidebar-item {% if 'product' in segment %} active {% endif %}"><a class="sidebar-link" href="add-data-product">Baskets</a></li>

						</ul>
					</li>

					<li class="sidebar-item {% if 'execute' in segment %} active {% endif %}">
						<a class="sidebar-link" href="data-execute">
							<i class="align-middle" data-feather="clock"></i> <span class="align-middle">Schedule Data Process</span>
						</a>
					</li>

					<li class="sidebar-header">
						Exploratory Analysis
					</li>
					<li class="sidebar-item">
						<a data-target="#funnel" data-toggle="collapse" class="sidebar-link collapsed">
              				<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Funnels</span>
            			</a>
						<ul id="funnel" class="sidebar-dropdown list-unstyled collapse {% if 'funnel-session' in segment or 'funnel-customer' in segment %} show {% endif %}" data-parent="#sidebar">
							<li class="sidebar-item {% if 'funnel-session' in segment %} active {% endif %}"><a class="sidebar-link" href="funnel-session">Session of Actions Funnel</a></li>
							<li class="sidebar-item {% if 'funnel-customer' in segment %} active {% endif %}"><a class="sidebar-link" href="funnel-customer">Customer of Actions Funnel</a></li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a data-target="#cohort" data-toggle="collapse" class="sidebar-link collapsed">
              				<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Cohorts</span>
            			</a>
						<ul id="cohort" class="sidebar-dropdown list-unstyled collapse {% if 'cohorts' in segment %} show {% endif %}" data-parent="#sidebar">
							<li class="sidebar-item {% if 'cohorts' in segment %} active {% endif %}"><a class="sidebar-link" href="cohorts">Daily/Weekly Order Cohorts</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a data-target="#stats" data-toggle="collapse" class="sidebar-link collapsed">
              				<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Descriptive Stats</span>
            			</a>
						<ul id="stats" class="sidebar-dropdown list-unstyled collapse {% if 'stats' in segment %} show {% endif %}" data-parent="#sidebar">
							<li class="sidebar-item {% if 'stats-purchase' in segment %} active {% endif %}"><a class="sidebar-link" href="stats-purchase">Stats Purchase</a></li>
							<li class="sidebar-item {% if 'stats-desc' in segment %} active {% endif %}"><a class="sidebar-link" href="stats-desc">Descriptive Statistics</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a data-target="#product-analytics" data-toggle="collapse" class="sidebar-link collapsed">
              				<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Product Analytics</span>
            			</a>
						<ul id="product-analytics" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="product">Top Purchased Products</a></li>
						</ul>
					</li>

					<li class="sidebar-header">
						ML Works
					</li>

					<li class="sidebar-item">
						<a data-target="#abtest" data-toggle="collapse" class="sidebar-link collapsed">
              				<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">A/B Tests</span>
            			</a>
						<ul id="abtest" class="sidebar-dropdown list-unstyled collapse {% if 'abtest' in segment %} show {% endif %}" data-parent="#sidebar">
							<li class="sidebar-item {% if 'abtest-promotion' in segment %} active {% endif %}"><a class="sidebar-link" href="abtest-promotion">A/B Test Promotion</a></li>
							<li class="sidebar-item {% if 'abtest-product' in segment %} active {% endif %}"><a class="sidebar-link" href="abtest-product">A/B Test Product</a></li>
							<li class="sidebar-item {% if 'abtest-segments' in segment %} active {% endif %}"><a class="sidebar-link" href="abtest-segments">A/B Test Customer Segment Change</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a data-target="#customer-segmentation" data-toggle="collapse" class="sidebar-link collapsed">
              				<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Customer Segmentation</span>
            			</a>
						<ul id="customer-segmentation" class="sidebar-dropdown list-unstyled collapse {% if 'customer-segmentation' in segment or  'rfm' in segment %} show {% endif %}" data-parent="#sidebar">
							<li class="sidebar-item {% if 'rfm' in segment %} active {% endif %}"><a class="sidebar-link" href="rfm">RFM</a></li>
							<li class="sidebar-item {% if 'customer-segmentation' in segment %} active {% endif %}"><a class="sidebar-link" href="customer-segmentation">Segmentations</a></li>
						</ul>
					</li>

					<li class="sidebar-item">
						<a data-target="#clv" data-toggle="{% if 'clv' in segment %} active {% endif %}" class="sidebar-link collapsed" href="clv">
              				<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle" >CLV Prediction</span>
            			</a>
					</li>

					<li class="sidebar-item">
						<a data-target="#anomaly" data-toggle="{% if 'anomaly' in segment %} active {% endif %}" class="sidebar-link collapsed" href="anomaly">
              				<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Anomaly Detection</span>
            			</a>
					</li>

					<li class="sidebar-item">
						<a data-target="#clv" data-toggle="{% if 'genius' in segment %} active {% endif %}" class="sidebar-link collapsed">
              				<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Genius</span>
            			</a>
					</li>

					<li class="sidebar-header">
						Auth
					</li>                    
					<li class="sidebar-item">
						<a class="sidebar-link" href="{{ url_for('base_blueprint.logout') }}">
              				<i class="align-middle" data-feather="log-out"></i> 
                                <span class="align-middle">Logout</span>
            			</a>
					</li>

				</ul>

			</div>
		</nav>

