
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle d-flex">
          			<i class="hamburger align-self-center"></i>
        		</a>

				<form class="d-none d-sm-inline-block" method="POST" action="/search">
					<div class="input-group input-group-navbar">
						<input name="search"
							   type="text" class="form-control" placeholder="Search…" aria-label="Search">
						<button class="btn" type="submit" >
              				<i class="align-middle" data-feather="search"></i>
            			</button>
					</div>
				</form>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">

						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                				<i class="align-middle" data-feather="settings"></i>
              				</a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
								{% if pic != 'None' %}
                					<img src="/static/assets/img/avatars/{{ pic }}" class="avatar img-fluid rounded mr-1" />
								{% endif %}
								<span class="text-dark">
									{{ current_user.username }}
								</span>
              				</a>

							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="/profile.html">
									<i class="align-middle mr-1" data-feather="user"></i> Profile</a>
								<a class="dropdown-item" href="index.html">
									<i class="align-middle mr-1" data-feather="pie-chart"></i> Dashboards</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="settings.html">
									<i class="align-middle mr-1" data-feather="settings"></i> Settings & Privacy</a>
								<a class="dropdown-item" href="https://github.com/caglanakpinar/customer_analytics/issues">
									<i class="align-middle mr-1" data-feather="help-circle"></i> Help Center</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ url_for('base_blueprint.logout') }}">Log out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

