{% extends "layouts/base.html" %}

{% block title %} A/B Test Customer Segments {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">
			<h5 class="h3 mb-3">A/B Test Customer Segment Change</h5>
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<h5 class="card-title my-1">
											<a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:green;font-size:12px">
												Filters
											</a>
										</h5>
									</div>
									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
										<form method="POST">
											<div class="row">
												<div class="col-md-6">
													<div class="card">
														<div class="card-body">
															<div class="card">
																<div class="card-header">
																	<h5 class="card-title mb-0">Dimension selection</h5>
																</div>
																<div class="card-body">
																	<select name="index" id="index" class="form-control">
																		{% for d in filters['dimensions'] %}
																			{% if d == 'There is no available report. Please execute Schedule Data Process' %}
																				<option value= "main">{{ d }}</option>
																			{% endif %}
																			{% if d != 'There is no available report. Please execute Schedule Data Process' %}
																				<option value="{{ d }}">{{ d }}</option>
																			{% endif %}
																		{% endfor %}
																	</select>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-md-6">
													<div class="card flex-fil">
														<div class="card-body col-12">
															<div class="col-12 ">
																<div class="align-self-center w-100">
																	<div class="chart">
																		<input name="date" id="datetimepicker-dashboard" hidden>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="card-header">
													<button  type="submit" class="btn btn-pill btn-primary">Apply</button>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div class="card">
									<div class="card-header" id="headingTwo">
										<h5 class="card-title my-1">
											<a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" style="color:green;font-size:12px">
												Infos
											</a>
										</h5>
									</div>
									<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body ">
											<ul>
											  <li>
												  <strong style="color:green;">A/B Test Promotions </strong> are bunch of testes which compares effect of Promotions to the business.
												  There are two metrics which help us to measure comparison values.
												  These are Number of orders counts per promotion and Average purchase amount per promotion.
												  Promotion of Usage related to these metrics are tested with Before - After Analysis
												  in order to th answer the question that is "Is there any significant increase/decrease
												  on Order Count / Average Payment Amount per User after the Promotion is used?"
												  While we need to see to Promotion which increases/decreases the number of orders and the average purchase amount,
												  This Section can help us to find the right promotion.
											  </li>
											  <li>
												  <div class="card-header">
													  <h5 class="card-title" style="color:green;">Hypothesis are;</h5>
													  <div class="card-header">
														  <div class="row">H0 : These is no significant Difference with A - B of order count / purchase amount.</div>
														  <div class="row">H1 : These is significant Difference with A - B of order count / purchase amount.</div>
													  </div>
												  </div>
											  </li>
											  <li>
											    <div class="card-header">
											  	  <h5 class="card-title" style="color:green;">Bootstrapping Method;</h5>
											  	  <div class="card-header">
											  		  <div class="row">
											  		    Each test process are applied with Boostraping Method.
											  	        So, Iteratively randomly selected A and B sample customers of order count / average purchase amount will be tested acceptable enough time.
											  	        Each iteration A - B samples are randomly selected.
											  	        Accepted ratio will show us the confidence of our test results. For instance, There are 100 tests and 75 of them are ended with H0 Accepted.
											  	        So, test are % 75  our test are H0 Accepted.
											  		  </div>
											  	  </div>
											    </div>
											  </li>
											  <li>
												  <div class="card-header">
												  	<h5 class="card-title" style="color:green;">How are Promotions Compared?</h5>
												  	  Each combination promotions are tested individually. Average of Purchase Payment Amount per User Sample for Promotion (1) is compared to
													  Average of Purchase Payment Amount per User Sample for Promotion (2).
													  Hypothesis are;
													  H0: These is no significant Difference on average purchase amount of customers who used promotion A and B.
													  H1: These is significant Difference on average purchase amount of customers who used promotion A and B.
													  Combination of Promotions are shown at 'Promotion Comparison' chart with number test results which are accepted and
													  H0 rejected test ratio (H0 rejected test count/total test count)
												  </div>
											  </li>
											  <li>
												  <div class="card-header">
												  	<h5 class="card-title" style="color:green;">How are Before - After Promo Usage Tests designed?</h5>
													    It might be very confusion and it might seem very sophisticated A/B Test process,
													    however it basically compares promotions related to customers of usage.
													    Each promotion of usage is tested separately.
													    Each promotion of used users and their used timestamp are collected for each promotion.
													    Each customers of one week before promotion usage and one week after the promotion use time periods are compared with to metrics which are
													    order count and average purchase amount. We aim to detect significant increase after time period
													    while comparing to before time period about purchase amount or order count


													  	Before - After Promo Usage Tests are shown at 'Order And Payment Amount Difference for Before And After Promotion Usage',
													    'Before - After Time Periods Customers' Average Purchase Payment Amount Test (Test Accepted!) ',
													    'Before - After Time Periods Customers' Average Purchase Payment Amount Test (Test Rejected!)',
													    'Before - After Time Periods Customers' Total Purchase Count Test (Test Accepted!)',
													    'Before - After Time Periods Customers' Total Purchase Count Test (Test Rejected!)'
												  </div>
											  </li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title" style="font-size:10px;"><strong> Daily </strong> Customers' <strong> Total Order Count </strong> per Customer Segment {% if data_type['segments_change_daily_before_after_orders'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
										<div class="row">
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> After :</strong> Each bar represents Average of total order count per customers per segment for <strong style="color:green;"> current week day (Ex: Monday)</strong>.</h6>
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> Before :</strong> Each bar represents Average of total order count per customers per segment for <strong style="color:green;"> last 4 weeks of current week day (Ex : last 4 Mondays)</strong>.</h6>
										</div>
									</div>
									<div class="card-body">
										<div id="sc_daily_ba_o_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title" style="font-size:10px;"><strong> Weekly </strong> Customers' <strong> Total Order Count </strong> per Customer Segment {% if data_type['segments_change_weekly_before_after_orders'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
										<div class="row">
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> After :</strong> Each bar represents Average of total order count per customers per segment for <strong style="color:green;"> current week</strong>.</h6>
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> Before :</strong> Each bar represents Average of total order count per customers per segment for <strong style="color:green;"> last 4 weeks </strong>.</h6>
										</div>
									</div>
									<div class="card-body">
										<div id="sc_weekly_ba_o_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title" style="font-size:10px;"><strong> Monthly </strong> Customers' <strong> Total Order Count </strong> per Customer Segment {% if data_type['segments_change_monthly_before_after_orders'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
										<div class="row">
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> After :</strong> Each bar represents average of total order count per customer per segment for <strong style="color:green;"> current month</strong>.</h6>
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> Before :</strong> Each bar represents average of total order count per customer per segment for <strong style="color:green;"> last 4 months </strong>.</h6>
										</div>
									</div>
									<div class="card-body">
										<div id="sc_monthly_ba_o_id" class="plotly-gra ph-div" style="height:400px;wight"></div>
									</div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title" style="font-size:10px;"><strong> Daily </strong> Customers' Average Purchase <strong> Payment Amount</strong> per Customer Segment {% if data_type['segments_change_daily_before_after_amount'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
										<div class="row">
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> After :</strong> Each bar represents average payment amount per customer per segment for <strong style="color:green;"> current week day (Ex: Monday)</strong>.</h6>
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> Before :</strong> Each bar represents average payment amount per customer per segment for <strong style="color:green;"> last 4 weeks of current week day (Ex : last 4 Mondays)</strong>.</h6>
										</div>
									</div>
									<div class="card-body">
										<div id="sc_weekly_ba_a_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title" style="font-size:10px;"><strong> Weekly </strong> Customers' Average Purchase <strong> Payment Amount</strong> per Customer Segment {% if data_type['segments_change_weekly_before_after_amount'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
										<div class="row">
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> After :</strong> Each bar represents average payment amount per customer per segment for <strong style="color:green;"> current week</strong>.</h6>
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> Before :</strong> Each bar represents average payment amount per customer per segment for <strong style="color:green;"> last 4 weeks </strong>.</h6>
										</div>
									</div>
									<div class="card-body">
										<div id="sc_daily_ba_a_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title" style="font-size:10px;"><strong> Monthly </strong> Customers' Average Purchase <strong> Payment Amount</strong> per Customer Segment {% if data_type['segments_change_monthly_before_after_amount'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
										<div class="row">
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> After :</strong> Each bar represents average payment amount per customer per segment for <strong style="color:green;"> current month</strong>.</h6>
											<h6 class="card-subtitle text-muted mb-1" style="font-size:10px;">- <strong style="color:green;"> Before :</strong> Each bar represents average payment amount per customer per segment for <strong style="color:green;"> last 4 months </strong>.</h6>
										</div>
									</div>
									<div class="card-body">
										<div id="sc_monthly_ba_a_id" class="plotly-gra ph-div" style="height:400px;wight"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script>

			var sc_weekly_ba_o = {{sc_weekly_ba_orders | safe}};

	        Plotly.plot('sc_weekly_ba_o_id', // the ID of the div, created above
						sc_weekly_ba_o.trace, sc_weekly_ba_o.layout, {});

			var sc_daily_ba_o = {{sc_daily_ba_orders | safe}};

	        Plotly.plot('sc_daily_ba_o_id', // the ID of the div, created above
						sc_daily_ba_o.trace, sc_daily_ba_o.layout, {});

			var sc_monthly_ba_o = {{sc_monthly_ba_orders | safe}};

	        Plotly.plot('sc_monthly_ba_o_id', // the ID of the div, created above
						sc_monthly_ba_o.trace, sc_monthly_ba_o.layout, {});


			var sc_weekly_ba_a = {{sc_weekly_ba_amount | safe}};

	        Plotly.plot('sc_weekly_ba_a_id', // the ID of the div, created above
						sc_weekly_ba_a.trace, sc_weekly_ba_a.layout, {});


			var sc_daily_ba_a = {{sc_daily_ba_amount | safe}};

	        Plotly.plot('sc_daily_ba_a_id', // the ID of the div, created above
						sc_daily_ba_a.trace, sc_daily_ba_a.layout, {});

			var sc_monthly_ba_a = {{sc_monthly_ba_amount | safe}};

	        Plotly.plot('sc_monthly_ba_a_id', // the ID of the div, created above
						sc_monthly_ba_a.trace, sc_monthly_ba_a.layout, {});







	function myFunction() {
	  // Get the checkbox
	  var checkBox = document.getElementById("myCheck");
	  // Get the output text
	  var text = document.getElementById("text");

	  // If the checkbox is checked, display the output text
	  if (checkBox.checked == true){
	    text.style.display = "block";
	  } else {
	    text.style.display = "none";
	  }
	}
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,

				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			});
		});
	</script>
{% endblock javascripts %}
