{% extends "layouts/base.html" %}

{% block title %} create sample data {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">

			<h1 class="h3 mb-3">Settings</h1>

			<div class="row">
				<div class="col-md-3 col-xl-2">

					<div class="card">
						<div class="card-header">
							<h5 class="card-title mb-0">Profile Settings</h5>
						</div>

						<div class="list-group list-group-flush" role="tablist">
							<a class="list-group-item list-group-item-action active" data-toggle="list" href="#account" role="tab">
							Create Indexes
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-9 col-xl-10">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="account" role="tabpanel">

							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0"> Sample Randomly Generated Data Creation</h5>
								</div>
								<div class="card-body">
									<form>
										<div class="row">
											<div class="col-md-8">
												<div class="mb-3">
													{% if values['row_0']['tag'] != '....' %}
														<label class="form-label" for="esTagName">ElasticSearch Tag Name</label>
														<select name="recent_tag" id="esTagName" class="form-control" required>
															<option></option>
															{% if values['row_0']['tag'] != '....' %}
																<option> {{ values['row_0']['tag'] }} </option>
															{% endif %}
															{% if values['row_1']['tag'] != '....' %}
																<option> {{ values['row_1']['tag'] }} </option>
															{% endif %}
															{% if values['row_2']['tag'] != '....' %}
																<option> {{ values['row_2']['tag'] }} </option>
															{% endif %}
															{% if values['row_3']['tag'] != '....' %}
																<option> {{ values['row_3']['tag'] }} </option>
															{% endif %}
															{% if values['row_4']['tag'] != '....' %}
																<option> {{ values['row_4']['tag'] }} </option>
															{% endif %}

														</select>
													{% endif %}
													{% if values['row_0']['tag'] == '....' %}
														<label class="form-label" for="alert">ElasticSearch Tag Name</label>
														<div class="alert alert-primary alert-dismissible"  id="alert" role="alert">
															<button type="submit" class="btn-close" href="#manage-data" data-dismiss="alert" aria-label="Close"></button>
															<div class="alert-icon">
																<i class="far fa-fw fa-bell"></i>
															</div>
															<div class="alert-message">
																 <strong>CREATE ElasticSearch Connection!</strong>
																<i class="align-middle" data-feather="arrow-right-circle" data-toggle="modal" data-target="#delete_tag"></i>
																<small>
																	<a href="manage-data">ElasticSearch Configurations</a>
																</small>
															</div>
														</div>
														<small><a  href="manage-data">ElasticSearch Configurations</a></small>
													{% endif %}
												</div>
												{% if values['row_0']['tag'] != '....' %}
													<div class="mb-3">
														<label class="form-label" for="inputUsername">ElasticSearch Tag Name</label>
														<input type="text" class="form-control" id="inputUsername" placeholder="tag name assign at ElasticSearch Configuration">
													</div>
												{% endif %}
												<div class="mb-3">
													<code>
{{ {'id': 66597918,
               'date': '2020-12-13T09:20:00',
               'actions': {'has_sessions': True,
                'has_basket': True,
                'order_screen': False,
                'purchased': False,
                'add_to_basket': {'p_28': {'duration': 42, '_date': '2020-12-13T09:16:48'},
                 'p_45': {'duration': 23, '_date': '2020-12-13T09:17:11'},
                 'p_135': {'duration': 26, '_date': '2020-12-13T09:17:37'},
                 'p_144': {'duration': 95, '_date': '2020-12-13T09:19:12'},
                 'p_59': {'duration': 26, '_date': '2020-12-13T09:19:38'},
                 'p_71': {'duration': 22, '_date': '2020-12-13T09:20:00'}}},
               'client': 'u_552873',
               'promotion_id': None,
               'payment_amount': 20.725,
               'discount_amount': 0,
               'basket': {'p_28': {'price': 3.0, 'category': 'p_c_7', 'rank': 1},
                'p_45': {'price': 9.375, 'category': 'p_c_9', 'rank': 92},
                'p_135': {'price': 0.255, 'category': 'p_c_1', 'rank': 188},
                'p_144': {'price': 4.095, 'category': 'p_c_6', 'rank': 70},
                'p_59': {'price': 2.32, 'category': 'p_c_1', 'rank': 15},
                'p_71': {'price': 1.68, 'category': 'p_c_3', 'rank': 155}},
               'total_products': 6,
               'session_start_date': '2020-12-13T09:16:06'}


														}}
													</code>
														<h1>Random Sample Data Creation</h1>
														Random order and download transactions creation between given time range.
														<h2>Check CustomerAnalytics for Sample Data Visualizations</h2>

													</div>

											</div>
											<div class="col-md-4">
												<div class="align-self-center w-90">
													<h5 class="card-title mb-0">Peak the Starting Date Of Sample Data</h5>
													<div class="chart">
														<input name="date_start" id="datetimepicker-dashboard" hidden>
													</div>
												</div>

											</div>
										</div>
										{% if values['row_0']['tag'] != '....' %}
											<button type="submit" class="btn btn-primary">Create Orders & Downloads Index</button>
										{% endif %}
									</form>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
			<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,
				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			});
		});
	</script>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
