{% extends "layouts/base.html" %}

{% block title %} search {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">
			<h5 class="h3 mb-3">Search Results {% if search_results.has_results  == False %}  <strong style="color:red;"> no result is found. (sample data) </strong> {% endif %}</h5>

			{% if search_results.has_results  == True %}
				<h5 class="card-title mb-4" style="color:green;">
					search_value : {{ search_results.search_value }} ||
					similarity_score : {{ search_results.similarity_score }} ||
					search_type: {{ search_results.search_type }}
				</h5>
			{% endif %}
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-xl-6 col-xxl-5 d-flex">
								<div class="w-100">
									<div class="row">
										<div class="col-sm-6">
											<div class="card" style="height:200px;">
												<div class="card-body">
													<h5 class="card-title mb-4">
														{{ chart_names.kpi_1 }}  {% if data_type['kpi_1'] == False %}  <strong style="color:red;"> sample data </strong>
														{% endif %} {% if search_results.has_results  == False %}  <strong style="color:red;"> no result is found. (sample data) </strong> {% endif %}</h5>
													<h1 class="mt-1 mb-3">{{ kpis.kpi_1 }}</h1>
												</div>
											</div>
											<div class="card" style="height:200px;">
												<div class="card-body">
													<h5 class="card-title mb-4">
														{{ chart_names.kpi_2 }}  {% if data_type['kpi_2'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}
														{% if search_results.has_results  == False %}  <strong style="color:red;"> no result is found. (sample data) </strong> {% endif %}</h5>
													<h1 class="mt-1 mb-3">{{ kpis.kpi_2 }}</h1>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="card" style="height:200px;">
												<div class="card-body">
													<h5 class="card-title mb-4">
														{{ chart_names.kpi_3 }}  {% if data_type['kpi_3'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}
														{% if search_results.has_results  == False %}  <strong style="color:red;"> no result is found. (sample data) </strong> {% endif %}</h5>
													<h1 class="mt-1 mb-3">{{ kpis.kpi_3 }}</h1>
												</div>
											</div>

											<div class="card" style="height:200px;">
												<div class="card-body">
													<h5 class="card-title mb-4">
														{{ chart_names.kpi_4 }}  {% if data_type['kpi_4'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}
														{% if search_results.has_results  == False %}  <strong style="color:red;"> no result is found. (sample data) </strong> {% endif %}</h5>
													<h1 class="mt-1 mb-3">{{ kpis.kpi_4 }}</h1>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="card" style="height:200px;">
									<div class="card-header">
										<h5 class="card-title">{{ chart_names.chart_2_search }}</strong>
										{% if search_results.has_results  == False %}  <strong style="color:red;"> no result is found. (sample data) </strong> {% endif %}</h5>

									</div>
									<div class="card-body">
										<div  id="chart_2_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>

						{% if search_results.search_type ==  'product' or search_results.search_type ==  'promotion' %}
							<div class="row">
								<div class="col-md-6">
									<div class="card">
										<div class="card-header">
											<h5 class="card-title">{{ chart_names.chart_3_search }}</strong>
											{% if search_results.has_results  == False %}  <strong style="color:red;"> no result is found. (sample data) </strong> {% endif %}</h5>
										</div>
										<div class="card-body">
											<div  id="chart_3_id" class="plotly-gra ph-div" style="height:400px;"></div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="card">
										<div class="card-header">
											<h5 class="card-title">{{ chart_names.chart_4_search }}</strong>
											{% if search_results.has_results  == False %}  <strong style="color:red;"> no result is found. (sample data) </strong> {% endif %}</h5>
										</div>
										<div class="card-body">
											<div  id="chart_4_id" class="plotly-gra ph-div" style="height:400px;"></div>
										</div>
									</div>
								</div>
							</div>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script>


			var chart_2_v = {{chart_2 | safe}};

	        Plotly.plot('chart_2_id', // the ID of the div, created above
						chart_2_v.trace, chart_2_v.layout, {});

			var chart_3_v = {{chart_3 | safe}};

	        Plotly.plot('chart_3_id', // the ID of the div, created above
			chart_3_v.trace, chart_3_v.layout, {});

			var chart_4_v = {{chart_4 | safe}};

	        Plotly.plot('chart_4_id', // the ID of the div, created above
			chart_4_v.trace, chart_4_v.layout, {});



	function myFunction() {
	  // Get the checkbox
	  var checkBox = document.getElementById("myCheck");
	  // Get the output text
	  var text = document.getElementById("text");

	  // If the checkbox is checked, display the output text
	  if (checkBox.checked == true){
	    text.style.display = "block";
	  } else {
	    text.style.display = "none";
	  }
	}
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,

				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			});
		});
	</script>
{% endblock javascripts %}
