{% extends "layouts/base.html" %}

{% block title %} CLV Prediction {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">
			<h5 class="h3 mb-3">Customer Lifetime Value Calcualtion</h5>
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<h5 class="card-title my-1">
											<a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:green;font-size:12px">
												Filters
											</a>
										</h5>
									</div>
									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
										<form method="POST">
											<div class="row">
												<div class="col-md-6">
													<div class="card">
														<div class="card-body">
															<div class="card">
																<div class="card-header">
																	<h5 class="card-title mb-0">Dimension selection</h5>
																</div>
																<div class="card-body">
																	<select name="index" id="index" class="form-control">
																		{% for d in filters['dimensions'] %}
																			{% if d == 'There is no available report. Please execute Schedule Data Process' %}
																				<option value= "main">{{ d }}</option>
																			{% endif %}
																			{% if d != 'There is no available report. Please execute Schedule Data Process' %}
																				<option value="{{ d }}">{{ d }}</option>
																			{% endif %}
																		{% endfor %}
																	</select>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-md-6">
													<div class="card flex-fil">
														<div class="card-body col-12">
															<div class="col-12 ">
																<div class="align-self-center w-100">
																	<div class="chart">
																		<input name="date" id="datetimepicker-dashboard" hidden>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="card-header">
													<button  type="submit" class="btn btn-pill btn-primary">Apply</button>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div class="card">
									<div class="card-header" id="headingTwo">
										<h5 class="card-title my-1">
											<a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" style="color:green;font-size:12px">
												Infos
											</a>
										</h5>
									</div>
									<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
											Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
											et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
											craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Next Week CLV Predictions {% if data_type['daily_clv'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>

									<div  id="clv_id" class="plotly-gra ph-div" style="height:400px;"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">CLV Predicted Nex Week Customers of Segments of Total Purchase Amounts {% if data_type['clvsegments_amount'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div class="card-body">
										<div  id="clv_s_a_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script>

			var clv = {{daily_clv | safe}};

	        Plotly.plot('clv_id', // the ID of the div, created above
						clv.trace, clv.layout, {});

			var clv_s_a = {{clvsegments_amount | safe}};

	        Plotly.plot('clv_s_a_id', // the ID of the div, created above
						clv_s_a.trace, clv_s_a.layout, {});











	function myFunction() {
	  // Get the checkbox
	  var checkBox = document.getElementById("myCheck");
	  // Get the output text
	  var text = document.getElementById("text");

	  // If the checkbox is checked, display the output text
	  if (checkBox.checked == true){
	    text.style.display = "block";
	  } else {
	    text.style.display = "none";
	  }
	}
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,

				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			});
		});
	</script>
{% endblock javascripts %}
