{% extends "layouts/base.html" %}

{% block title %} Cohorts {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">
			<h5 class="h3 mb-3">Sessions Of Actions Funnel</h5>
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<h5 class="card-title my-1">
											<a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:green;font-size:12px">
												Filters
											</a>
										</h5>
									</div>
									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
										<form method="POST">
											<div class="row">
												<div class="col-md-6">
													<div class="card">
														<div class="card-body">
															<div class="card">
																<div class="card-header">
																	<h5 class="card-title mb-0">Dimension selection</h5>
																</div>
																<div class="card-body">
																	<select name="index" id="index" class="form-control">
																		{% for d in filters['dimensions'] %}
																			{% if d == 'There is no available report. Please execute Schedule Data Process' %}
																				<option value= "main">{{ d }}</option>
																			{% endif %}
																			{% if d != 'There is no available report. Please execute Schedule Data Process' %}
																				<option value="{{ d }}">{{ d }}</option>
																			{% endif %}
																		{% endfor %}
																	</select>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-md-6">
													<div class="card flex-fil">
														<div class="card-body col-12">
															<div class="col-12 ">
																<div class="align-self-center w-100">
																	<div class="chart">
																		<input name="date" id="datetimepicker-dashboard" hidden>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="card-header">
													<button  type="submit" class="btn btn-pill btn-primary">Apply</button>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div class="card">
									<div class="card-header" id="headingTwo">
										<h5 class="card-title my-1">
											<a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" style="color:green;font-size:12px">
												Infos
											</a>
										</h5>
									</div>
									<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body ">
											<ul>
											  <li>
												  <strong style="color:green;">Cohorts</strong> are aggregated count of customers who are acting in same way at given time period.
												  In our study, cohorts covers number of customers who have same transaction in given time period and upcoming days/weeks.
											  </li>
											  <li>
												  <div class="card-header">
												  	<h5 class="card-title" style="color:green;">What are the metrics for Cohorts?</h5>
												  	Download to First order, First to Second, Second to Third, Third to Fourth Order Cohorts.
												  </div>
											  </li>
											  <li>
												  <div class="card-header">
												  	<h5 class="card-title" style="color:green;">Download to First Order Cohort</h5>
														If there isn`t any downloaded date, you may assign any date which is related to customers of first event with your business.
														This cohort of date column represent download date. If it is Weekly Cohort it will represent the mondays of each week.
													  	Otherwise it will represent days.
													 	Each Numeric column from 0 to 15 are the day differences after the downloaded date.
													    For instance, if date columns is 2021-05-06, and numeric column is 10 and value is 100,
													    this refers that there are 100 customers who have downloads in  2021-05-06 and have first orders 10 days later.
												  </div>
											  </li>
											   <li>
												  <div class="card-header">
												  	<h5 class="card-title" style="color:green;">First to Second Order Cohort</h5>
														This cohort of date column represent first order date. If it is Weekly Cohort it will represent the mondays of each week.
													  	Otherwise it will represent days.
													 	Each Numeric column from 0 to 15 are the day differences after the first order date.
													    For instance, if date columns is 2021-05-06, and numeric column is 10 and value is 100,
													    this refers that there are 100 customers who have first orders in 2021-05-06 and have second orders 10 days later.
												  </div>
											  </li>
										       <li>
												  <div class="card-header">
												  	<h5 class="card-title" style="color:green;">Second to Third Order Cohort</h5>
														This cohort of date column represent second order date. If it is Weekly Cohort it will represent the mondays of each week.
													  	Otherwise it will represent days.
													 	Each Numeric column from 0 to 15 are the day differences after the second order date.
													    For instance, if date columns is 2021-05-06, and numeric column is 10 and value is 100,
													    this refers that there are 100 customers who have second orders in 2021-05-06 and have third orders 10 days later.
												  </div>
											  </li>
											  <li>
												  <div class="card-header">
												  	<h5 class="card-title" style="color:green;">Third to Fourth Order Cohort</h5>
														This cohort of date column represent third order date. If it is Weekly Cohort it will represent the mondays of each week.
													  	Otherwise it will represent days.
													 	Each Numeric column from 0 to 15 are the day differences after the third order date.
													    For instance, if date columns is 2021-05-06, and numeric column is 10 and value is 100,
													    this refers that there are 100 customers who have third orders in 2021-05-06 and have fourth orders 10 days later.
												  </div>
											  </li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Daily Download to 1st Order Cohort {% if data_type['daily_cohort_downloads'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div  id="d_cohort_d_id" class="plotly-gra ph-div" style="height:400px;"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Daily From 1st to 2nd Order Cohort {% if data_type['daily_cohort_from_1_to_2'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div class="card-body">
										<div  id="d_cohort_from_1_to_2_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Daily From 2nd to 3rd Order Cohort {% if data_type['daily_cohort_from_2_to_3'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div class="card-body">
										<div  id="d_cohort_from_2_to_3_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Daily From 3rd to 4th Order Cohort {% if data_type['daily_cohort_from_3_to_4'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div class="card-body">
										<div  id="d_cohort_from_3_to_4_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Weekly Download to 1st Order Cohort {% if data_type['weekly_cohort_downloads'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div class="card-body">
										<div  id="w_cohort_d_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Weekly From 1st to 2nd Order Cohort {% if data_type['weekly_cohort_from_1_to_2'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div class="card-body">
										<div  id="w_cohort_from_1_to_2_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Weekly From 2nd to 3rd Order Cohort {% if data_type['weekly_cohort_from_2_to_3'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div class="card-body">
										<div  id="w_cohort_from_2_to_3_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Weekly From 3rd to 4th Order Cohort {% if data_type['weekly_cohort_from_3_to_4'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div class="card-body">
										<div  id="w_cohort_from_3_to_4_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script>

			var d_c_d = {{daily_cohort_downloads | safe}};

	        Plotly.plot('d_cohort_d_id', // the ID of the div, created above
						d_c_d.trace, d_c_d.layout, {});

			var d_c_f_1_t_2 = {{daily_cohort_from_1_to_2 | safe}};

	        Plotly.plot('d_cohort_from_1_to_2_id', // the ID of the div, created above
						d_c_f_1_t_2.trace, d_c_f_1_t_2.layout, {});

			var d_c_f_2_t_3 = {{daily_cohort_from_2_to_3 | safe}};

	        Plotly.plot('d_cohort_from_2_to_3_id', // the ID of the div, created above
						d_c_f_2_t_3.trace, d_c_f_2_t_3.layout, {});

			var d_c_f_3_t_4 = {{daily_cohort_from_2_to_3 | safe}};

	        Plotly.plot('d_cohort_from_3_to_4_id', // the ID of the div, created above
						d_c_f_3_t_4.trace, d_c_f_3_t_4.layout, {});

			var w_c_d = {{weekly_cohort_downloads | safe}};

	        Plotly.plot('w_cohort_d_id', // the ID of the div, created above
						w_c_d.trace, w_c_d.layout, {});

			var w_c_f_1_t_2 = {{weekly_cohort_from_1_to_2 | safe}};

	        Plotly.plot('w_cohort_from_1_to_2_id', // the ID of the div, created above
						w_c_f_1_t_2.trace, w_c_f_1_t_2.layout, {});

			var w_c_f_2_t_3 = {{weekly_cohort_from_2_to_3 | safe}};

	        Plotly.plot('w_cohort_from_2_to_3_id', // the ID of the div, created above
						w_c_f_2_t_3.trace, w_c_f_2_t_3.layout, {});

			var w_c_f_3_t_4 = {{weekly_cohort_from_3_to_4 | safe}};

	        Plotly.plot('w_cohort_from_3_to_4_id', // the ID of the div, created above
						w_c_f_3_t_4.trace, w_c_f_3_t_4.layout, {});






	function myFunction() {
	  // Get the checkbox
	  var checkBox = document.getElementById("myCheck");
	  // Get the output text
	  var text = document.getElementById("text");

	  // If the checkbox is checked, display the output text
	  if (checkBox.checked == true){
	    text.style.display = "block";
	  } else {
	    text.style.display = "none";
	  }
	}
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,

				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			});
		});
	</script>
{% endblock javascripts %}
