{% extends "layouts/base.html" %}

{% block title %} promotion data connection {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Schedule</h5>
						<h6 class="card-subtitle text-muted">Schedule active connections</h6>
					</div>
					<div class="card-body">
						{% if values['message']['schedule_tags'] != '....' %}
							<form method="POST">
								<div class="row">
									<div class="mb-3 col-md-3">
										<label class="form-label" for="inputCity">Tag Schedule Name</label>
										<input name="schedule_tag" type="text" class="form-control" id="inputCity" required>
									</div>
									<div class="mb-3 col-md-3">
										<label class="form-label" for="inputState">Time Period</label>
										<select name="time_period" id="inputState" class="form-control" required>
											<option value="once" selected>Once</option>
											<option value="daily">daily</option>
											<option value="12_hours">12 Hours</option>
										</select>
									</div>
									<div class="mb-3 col-md-3">
										<label class="form-label" for="inputState">Active Connections</label>
										<select name="tag" id="es_edit" class="form-control" required>
											<option></option>
												{% for i in values['message']['schedule_tags'] %}
													<option value= "{{ i }}">{{ i }}</option>
												{% endfor %}
										</select>
									</div>
									<div class="col-12">
										<div class="form-check mb-1 mr-sm-2">
											<input name="is_checkbox" type="checkbox" class="form-check-input" id="exploratory" checked>
											<label class="form-check-label" for="exploratory" >create Exploratory Analysis</label>
										</div>
									</div>
									<div class="col-12">
										<div class="form-check mb-1 mr-sm-2">
											<input name="is_mlworks" type="checkbox" class="form-check-input" id="ml_process" checked>
											<label class="form-check-label" for="ml_process" >create ML Works</label>
										</div>
									</div>
								</div>
								<button name="schedule" type="submit" value="True" class="btn btn-primary">Create Schedule Job</button>
							</form>
						{% endif %}
					</div>
				</div>
				<div class="card">
						<div class="card-header">
							<h5 class="card-title">DATA CONNECTIONS</h5>
							<div class="mb-2">
								<h6 class="card-subtitle text-muted">whole picture of all connections.
									Check <i class="align-middle mr-2" data-feather="alert-circle" style="color:#FF0000;"></i> connections.
									Same color of Flags (<i class="align-middle mr-2" data-feather="flag" style="color:#FF0000;"></i>) represents same ElasticSearch Server of Connections.
								</h6>
							</div>
							<div class="mb-1">
								<h6 class="card-subtitle text-muted">whole picture of all connections.
									You may edit time periods of the schedule with <i class="align-middle mr-2" data-feather="edit-2" style="color:#FF0000;"></i>.
									You may delete schedule process with <i class="align-middle mr-2" data-feather="trash" style="color:#FF0000;"></i>.
								</h6>
							</div>
							<div class="mb-1">
								<h6 class="card-subtitle text-muted">whole picture of all connections.
									You may edit your <code style="color:green;">Data Query/Path</code> for both Sessions and Customers Connection even it is scheduled.
								</h6>
							</div>

						</div>
						{% if values['message']['last_log'] != '....' %}
							<div class="mb-2">
								<h6 class="card-subtitle text-muted" style="color:red;">{{ values['message']['last_log']['info'] }}</h6>
							</div>
						{% endif %}
						{% if values['row_active_0']['tag'] != '....' %}
							<table class="table scroll">
								<thead>
									<tr>
										<th style="font-size:20%;">Flag</th>
										{% for i in values['message']['schedule_columns'] %}
											<th style="font-size:50%;">{{ i }}</th>
										{% endfor %}
									</tr>
								</thead>
								<tbody>
									{% for i in values['message']['schedule'] %}
										<tr>
											<td style="font-size:6%;">
												<i class="align-middle mr-2" data-feather="flag" style="{{ i['color'] }}"></i>
											</td>
											<td style="font-size:6%;">{{ i['id'] }}</td>
											<td style="font-size:6%;">{{ i['tag'] }}</td>
											<td style="font-size:6%;">
												{% if i['dimension'] != '....' %}
													<i class="align-middle mr-2" data-feather="check" style="color:#008000;"></i>
												{% endif %}
												{% if i['dimension'] == '....' %}
													<i class="align-middle mr-2" data-feather="x-circle" style="color:#FF0000;"></i>
												{% endif %}
											</td>
											<td style="font-size:6%;">{{ i['process'] }}</td>
											<td style="font-size:6%;">{{ i['orders_data_source_tag'] }}</td>
											<td style="font-size:6%;">{{ i['orders_data_source_type'] }}</td>
											<td style="font-size:6%;" >
												<a data-toggle="modal"  data-target="#edit_query_path_{{ i['orders_data_source_tag'] }}" style="color:green;">{{ i['orders_data_query_path'] }}</a>
												<form method="POST">
													<div class="modal fade" id="edit_query_path_{{ i['orders_data_source_tag'] }}" tabindex="-1" role="dialog" aria-hidden="true">
													<div class="modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h4 class="card-subtitle text-muted"></h4>
																<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body m-3">
																<div class="card">
																	<div class="card-body">
																		<h5 class="card-title">Edit Query/Path for - {{ i['orders_data_source_tag'] }}</h5>
																			<div class="mb-3">
																				{{ i['orders_data_query_path'] }}
																			</div>
																			<textarea name="orders_data_query_path" class="form-control" placeholder="SELECT * FROM table .... / raw_data.csv" rows="5" required></textarea>
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<button name="edit" value="{{ i['orders_data_source_tag'] }}" type="submit" class="btn btn-primary">Save changes</button>

															</div>
														</div>
													</div>
												</div>
												</form>

											</td>
											<td style="font-size:6%;">{{ i['downloads_data_source_tag'] }}</td>
											<td style="font-size:6%;">{{ i['downloads_data_source_type'] }}</td>
											<td style="font-size:6%;" >
												{% if i['downloads_data_query_path'] != '...' %}
													<a data-toggle="modal"  data-target="#edit_query_path_{{ i['downloads_data_source_tag'] }}" style="color:green;">{{ i['downloads_data_query_path'] }}</a>
													<form method="POST">
													<div class="modal fade" id="edit_query_path_{{ i['downloads_data_source_tag'] }}" tabindex="-1" role="dialog" aria-hidden="true">
													<div class="modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h4 class="card-subtitle text-muted"></h4>
																<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body m-3">
																<div class="card">
																	<div class="card-body">
																		<h5 class="card-title">Edit Query/Path for - {{ i['downloads_data_source_tag'] }}</h5>
																			<div class="mb-3">

																			</div>
																			<textarea name="downloads_data_query_path" class="form-control" placeholder="SELECT * FROM table .... / raw_data.csv" rows="5" required></textarea>
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<button name="edit" value="{{ i['downloads_data_source_tag'] }}" type="submit" class="btn btn-primary">Save changes</button>

															</div>
														</div>
													</div>
													</div>
													</form>
												{% endif %}
												{% if i['downloads_data_query_path'] == '...' %}
													{{ i['downloads_data_query_path'] }}
												{% endif %}

											</td>
											<td style="font-size:6%;">
												{% if i['is_action'] == 'True' %}
													<i class="align-middle mr-2" data-feather="check" style="color:#008000;"></i>
												{% endif %}
												{% if i['is_action'] != 'True' %}
													<i class="align-middle mr-2" data-feather="x-circle" style="color:#FF0000;"></i>
												{% endif %}
											</td>
											<td style="font-size:6%;">
												{% if i['is_product'] == 'True' %}
													<i class="align-middle mr-2" data-feather="check" style="color:#008000;"></i>
												{% endif %}
												{% if i['is_product'] != 'True' %}
													<i class="align-middle mr-2" data-feather="x-circle" style="color:#FF0000;"></i>
												{% endif %}
											</td>
											<td style="font-size:6%;">
												{% if i['is_promotion'] == 'True' %}
													<i class="align-middle mr-2" data-feather="check" style="color:#008000;"></i>
												{% endif %}
												{% if i['is_promotion'] != 'True' %}
													<i class="align-middle mr-2" data-feather="x-circle" style="color:#FF0000;"></i>
												{% endif %}
											</td>
											<td style="font-size:6%;">{{ i['max_date_of_order_data'] }}</td>
											<td style="font-size:6%;">{{ i['time_period'] }}</td>
											<td style="font-size:6%;">
												{% if i['status'] == 'on' %}
													<i class="align-middle mr-2" data-feather="check" style="color:#008000;"></i>
												{% endif %}
												{% if i['status'] != 'on' %}
													<i class="align-middle mr-2" data-feather="x-circle" style="color:#FF0000;"></i>
												{% endif %}
											</td>
											<td style="font-size:3%;">
												{% if i['columns_matching'] == 'not assigned - customers' or i['columns_matching'] == 'not assigned - sessions' or i['columns_matching'] == 'not assigned' %}
													<i class="align-middle mr-2" data-feather="alert-circle" style="color:#FF0000;"></i>
													<span class="align-middle" style="color:#FF0000;">{{ i['columns_matching'] }}</span>
												{% endif %}

												{% if i['columns_matching'] == 'assigned' %}
													<i class="align-middle mr-2" data-feather="check" style="color:#008000;"></i><span class="align-middle" style="color:#008000;">{{ i['columns_matching'] }}</span>
												{% endif %}
											</td>
											<td class="table-action">
												<a href="#"><i class="align-middle" data-feather="trash" data-toggle="modal" data-target="#delete_{{ i['orders_data_source_tag'] }}"></i></a>
												<form method="POST">
													<div class="modal fade" id="delete_{{ i['orders_data_source_tag'] }}" tabindex="-1" role="dialog" aria-hidden="true">
													<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h4 class="card-subtitle text-muted"></h4>
															<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body m-3">
															<div class="card">
																<div class="card-body">
																	<h5 class="card-title">Delete Schedule - {{ i['tag'] }}</h5>
																		<div class="mb-3">
																			Are you sure? Do you want to cancel the schedule process?
																		</div>
																</div>
															</div>
														</div>
														<div class="modal-footer">
															<button name="delete" value="{{ i['tag'] }}" type="submit" class="btn btn-primary">Yes</button>
															<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
														</div>
													</div>
													</div>
													</div>
												</form>

											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

						{% endif %}
						{% if values['row_active_0']['tag'] != '....' %}
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Logs</h5>
									<h6 class="card-subtitle text-muted">Last 10 events of logs.</h6>
								</div>
								<div class="card-body scroll">
									{% if values['message']['logs'] != '....' %}
										{% for i in values['message']['logs'] %}
											<div class="mb-2">
												<h6 class="card-subtitle text-muted" style="{{ i['color'] }}">{{ i['info'] }}</h6>
											</div>
										{% endfor %}
									{% endif %}
								</div>
							</div>
						{% endif %}
					</div>
			</div>
		</div>
	</main>

{% endblock content %}

<script>
function myFunction() {
  // Get the checkbox
  var checkBox = document.getElementById("myCheck");
  // Get the output text
  var text = document.getElementById("text");

  // If the checkbox is checked, display the output text
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
    text.style.display = "none";
  }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

</script>
{% block javascripts %}{% endblock javascripts %}
