{% extends "layouts/base.html" %}

{% block title %} Funnel - Sessions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">
			<h5 class="h3 mb-3">Sessions Of Actions Funnel</h5>
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Daily Funnel</h5>
									</div>
									<div  id="d_funnel" class="plotly-gra ph-div" style="height:400px;"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Weekly Funnel</h5>
									</div>
									<div class="card-body">
										<div  id="w_funnel" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Monthly Funnel</h5>
									</div>
									<div class="card-body">
										<div  id="m_funnel" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Hourly Funnel</h5>
									</div>
									<div class="card-body">
										<div  id="h_funnel" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script>

			var d_f = {{daily_funnel | safe}};

	        Plotly.plot('d_funnel', // the ID of the div, created above
						d_f.trace, d_f.layout, {});

			var w_f = {{weekly_funnel | safe}};

	        Plotly.plot('w_funnel', // the ID of the div, created above
						w_f.trace, w_f.layout, {});

			var m_f = {{monthly_funnel | safe}};

	        Plotly.plot('m_funnel', // the ID of the div, created above
						m_f.trace, m_f.layout, {});

			var h_f = {{hourly_funnel | safe}};

	        Plotly.plot('h_funnel', // the ID of the div, created above
						h_f.trace, h_f.layout, {});




	function myFunction() {
	  // Get the checkbox
	  var checkBox = document.getElementById("myCheck");
	  // Get the output text
	  var text = document.getElementById("text");

	  // If the checkbox is checked, display the output text
	  if (checkBox.checked == true){
	    text.style.display = "block";
	  } else {
	    text.style.display = "none";
	  }
	}
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,

				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			});
		});
	</script>
{% endblock javascripts %}
