{% extends "layouts/base.html" %}

{% block title %} Cohorts {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">
			<h5 class="h3 mb-3">Sessions Of Actions Funnel</h5>
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Most Combined Products</h5>
									</div>
									<div  id="combined_products_id" class="plotly-gra ph-div" style="height:400px;"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Most Order Products</h5>
									</div>
									<div class="card-body">
										<div  id="products_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Most Order Categories</h5>
									</div>
									<div class="card-body">
										<div  id="categories_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script>

			var combined_products = {{most_combined_products | safe}};

	        Plotly.plot('combined_products_id', // the ID of the div, created above
						combined_products.trace, combined_products.layout, {});

			var products = {{most_ordered_products | safe}};

	        Plotly.plot('products_id', // the ID of the div, created above
						products.trace, products.layout, {});

			var categories = {{most_ordered_categories | safe}};

	        Plotly.plot('categories_id', // the ID of the div, created above
						categories.trace, categories.layout, {});






	function myFunction() {
	  // Get the checkbox
	  var checkBox = document.getElementById("myCheck");
	  // Get the output text
	  var text = document.getElementById("text");

	  // If the checkbox is checked, display the output text
	  if (checkBox.checked == true){
	    text.style.display = "block";
	  } else {
	    text.style.display = "none";
	  }
	}
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,

				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			});
		});
	</script>
{% endblock javascripts %}
