{% extends "layouts/base.html" %}

{% block title %} Descriptice Statistics {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">
			<h5 class="h3 mb-3">Descriptive Statistics</h5>
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Weekly Average Session Count per Customer</h5>
									</div>
									<div  id="w_ses_per_user_id" class="plotly-gra ph-div" style="height:400px;"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Weekly Average Purchase Count per Customer</h5>
									</div>
									<div class="card-body">
										<div  id="w_order_per_user_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Payment Amount Distribution</h5>
									</div>
									<div class="card-body">
										<div  id="p_a_d_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Weekly Average Payment Amount</h5>
									</div>
									<div class="card-body">
										<div  id="w_avg_p_a_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script>

			var w_ses_per_user = {{weekly_average_session_per_user | safe}};

	        Plotly.plot('w_ses_per_user_id', // the ID of the div, created above
						w_ses_per_user.trace, w_ses_per_user.layout, {});

			var w_order_per_user = {{weekly_average_order_per_user | safe}};

	        Plotly.plot('w_order_per_user_id', // the ID of the div, created above
						w_order_per_user.trace, w_order_per_user.layout, {});

			var p_a_d = {{purchase_amount_distribution | safe}};

	        Plotly.plot('p_a_d_id', // the ID of the div, created above
						p_a_d.trace, p_a_d.layout, {});

			var w_avg_p_a = {{weekly_average_payment_amount | safe}};

	        Plotly.plot('w_avg_p_a_id', // the ID of the div, created above
						w_avg_p_a.trace, w_avg_p_a.layout, {});








	function myFunction() {
	  // Get the checkbox
	  var checkBox = document.getElementById("myCheck");
	  // Get the output text
	  var text = document.getElementById("text");

	  // If the checkbox is checked, display the output text
	  if (checkBox.checked == true){
	    text.style.display = "block";
	  } else {
	    text.style.display = "none";
	  }
	}
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,

				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			});
		});
	</script>
{% endblock javascripts %}
