{% extends "layouts/base.html" %}

{% block title %} Descriptive Statistics {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<main class="content">
		<div class="container-fluid p-0">
			<h5 class="h3 mb-3">Descriptive Statistics</h5>
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<h5 class="card-title my-1">
											<a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:green;font-size:12px">
												Filters
											</a>
										</h5>
									</div>
									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
										<form method="POST">
											<div class="row">
												<div class="col-md-6">
													<div class="card">
														<div class="card-body">
															<div class="card">
																<div class="card-header">
																	<h5 class="card-title mb-0">Dimension selection</h5>
																</div>
																<div class="card-body">
																	<select name="index" id="index" class="form-control">
																		{% for d in filters['dimensions'] %}
																			{% if d == 'There is no available report. Please execute Schedule Data Process' %}
																				<option value= "main">{{ d }}</option>
																			{% endif %}
																			{% if d != 'There is no available report. Please execute Schedule Data Process' %}
																				<option value="{{ d }}">{{ d }}</option>
																			{% endif %}
																		{% endfor %}
																	</select>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="col-md-6">
													<div class="card flex-fil">
														<div class="card-body col-12">
															<div class="col-12 ">
																<div class="align-self-center w-100">
																	<div class="chart">
																		<input name="date" id="datetimepicker-dashboard" hidden>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="card-header">
													<button  type="submit" class="btn btn-pill btn-primary">Apply</button>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div class="card">
									<div class="card-header" id="headingTwo">
										<h5 class="card-title my-1">
											<a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" style="color:green;font-size:12px">
												Infos
											</a>
										</h5>
									</div>
									<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											{{ data_type }}
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
											Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
											et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
											craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Weekly Average Session Count per Customer {% if data_type['weekly_average_session_per_user'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div  id="w_ses_per_user_id" class="plotly-gra ph-div" style="height:400px;"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Weekly Average Purchase Count per Customer {% if data_type['weekly_average_order_per_user'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div class="card-body">
										<div  id="w_order_per_user_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Payment Amount Distribution {% if data_type['purchase_amount_distribution'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div class="card-body">
										<div  id="p_a_d_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title">Weekly Average Payment Amount {% if data_type['weekly_average_payment_amount'] == False %}  <strong style="color:red;"> sample data </strong> {% endif %}</h5>
									</div>
									<div class="card-body">
										<div  id="w_avg_p_a_id" class="plotly-gra ph-div" style="height:400px;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script>

			var w_ses_per_user = {{weekly_average_session_per_user | safe}};

	        Plotly.plot('w_ses_per_user_id', // the ID of the div, created above
						w_ses_per_user.trace, w_ses_per_user.layout, {});

			var w_order_per_user = {{weekly_average_order_per_user | safe}};

	        Plotly.plot('w_order_per_user_id', // the ID of the div, created above
						w_order_per_user.trace, w_order_per_user.layout, {});

			var p_a_d = {{purchase_amount_distribution | safe}};

	        Plotly.plot('p_a_d_id', // the ID of the div, created above
						p_a_d.trace, p_a_d.layout, {});

			var w_avg_p_a = {{weekly_average_payment_amount | safe}};

	        Plotly.plot('w_avg_p_a_id', // the ID of the div, created above
						w_avg_p_a.trace, w_avg_p_a.layout, {});








	function myFunction() {
	  // Get the checkbox
	  var checkBox = document.getElementById("myCheck");
	  // Get the output text
	  var text = document.getElementById("text");

	  // If the checkbox is checked, display the output text
	  if (checkBox.checked == true){
	    text.style.display = "block";
	  } else {
	    text.style.display = "none";
	  }
	}
	</script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,

				prevArrow: "<span class=\"fas fa-chevron-left\" title=\"Previous month\"></span>",
				nextArrow: "<span class=\"fas fa-chevron-right\" title=\"Next month\"></span>",
			});
		});
	</script>
{% endblock javascripts %}
